# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import os
os.getcwd()

'C:\\Data_Science\\IH_Notebooks\\lab-two-sample-hyp-test\\your-code'

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [10]:
# Your code here:

pokemon.value_counts(pokemon.Legendary)

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [17]:
# Your code here:

non_legendary = pokemon.copy()
legendary = pokemon.copy()

non_legendary = non_legendary.loc[(non_legendary['Legendary'] == False)]
legendary = legendary.loc[(legendary['Legendary'] == True)]

print("Mean non-legendary: ", non_legendary['Total'].mean())
print("Std non-legendary: ", non_legendary['Total'].std())
print("Mean legendary: ", legendary['Total'].mean())
print("Std non-legendary: ", legendary['Total'].std())

Mean non-legendary:  417.21360544217686
Std non-legendary:  106.76041745713005
Mean legendary:  637.3846153846154
Std non-legendary:  60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [20]:
# Your code here:
import scipy.stats as st

alpha = 0.05

non_legendary = non_legendary['Total'].dropna()
legendary = legendary['Total'].dropna()

t_stat, p_value = st.ttest_ind(legendary, non_legendary, equal_var=False)

print(f"Test statistics (t): {t_stat}")
print(f"P_value: {p_value}")

Test statistics (t): 25.8335743895517
P_value: 9.357954335957444e-47

What do you conclude from this test? Write your conclusions below.

In [21]:
# Your conclusions here:

null_hypothesis = "There is no difference in mean Total points between legendary and non-legendary Pokemon."
alt_hypothesis = "There is difference in mean Total points between legendary and non-legendary Pokemon."

if p_value > alpha:
    print("There's not enough evidence to reject the H0 hypothesis.")

if p_value < alpha:
    print("There's enough evidence to reject the H0 hypothesis.")

There's enough evidence to reject the H0 hypothesis.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [23]:
# Your code here:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [33]:
# Your code here:

water_pokemon = pokemon.copy()
non_water_pokemon = pokemon.copy()

water_pokemon = water_pokemon.loc[(water_pokemon['Type 1'] == 'Water')]
non_water_pokemon = non_water_pokemon.loc[(non_water_pokemon['Type 1'] != 'Water')]


print("Mean Total Water pokemon: ", water_pokemon['Total'].mean())
print("Std Total Water pokemon: ", water_pokemon['Total'].std())
print("Mean Total Non-Water pokemon: ", water_pokemon['Total'].mean())
print("Std Total Non-Water pokemon: ", water_pokemon['Total'].std())

Mean Total Water pokemon:  430.45535714285717
Std Total Water pokemon:  113.1882660643146
Mean Total Non-Water pokemon:  430.45535714285717
Std Total Non-Water pokemon:  113.1882660643146

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [35]:
# Your code here:

water_pokemon = water_pokemon['Total'].dropna()
non_water_pokemon = non_water_pokemon['Total'].dropna()

t_stat, p_value = st.ttest_ind(water_pokemon, non_water_pokemon, equal_var=True)

print(f"Test statistics (t): {t_stat}")
print(f"P_value: {p_value}")

Test statistics (t): -0.4418547448849676
P_value: 0.6587140317488793

Write your conclusion below.

In [36]:
# Your conclusions here:

null_hypothesis = "There is no difference in Mean Total points between Water and non Water pokemon."
alt_hypothesis = "There is difference in Mean Total points between Water and non Water pokemon."

if p_value > alpha:
    print("There's not enough evidence to reject the H0 hypothesis.")

if p_value < alpha:
    print("There's enough evidence to reject the H0 hypothesis.")

There's not enough evidence to reject the H0 hypothesis.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [37]:
# Your code here:

null_hypothesis = "Defense and Attack scores are equal."
alt_hypothesis = "Defense and Attack scores aren't equal."


t_stat, p_value = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

print(f"Test Statistic (t): {t_stat}")
print(f"P-Value: {p_value:}")

Test Statistic (t): 4.325566393330478
P-Value: 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [38]:
# Your conclusions here:

if p_value > alpha:
    print("There's not enough evidence to reject the H0 hypothesis.")

if p_value < alpha:
    print("There's enough evidence to reject the H0 hypothesis.")

print(alt_hypothesis)

There's enough evidence to reject the H0 hypothesis.
Defense and Attack scores aren't equal.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [39]:
# Your code here:

null_hypothesis = "There's no difference between mean Special Defense and Mean Special Attack"
alt_hypothesis = "There difference between mean Special Defense and Mean Special Attack"


t_stat, p_value = st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

print(f"Test Statistic (t): {t_stat}")
print(f"P-Value: {p_value:}")

Test Statistic (t): 0.853986188453353
P-Value: 0.3933685997548122

Describe the results of the test in the cell below.

In [40]:
# Your conclusions here:

if p_value > alpha:
    print("There's not enough evidence to reject the H0 hypothesis.")

if p_value < alpha:
    print("There's enough evidence to reject the H0 hypothesis.")

print(null_hypothesis)

There's not enough evidence to reject the H0 hypothesis.
There's no difference between mean Special Defense and Mean Special Attack

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [44]:
# Your code here:

pokemon['Difference_Att_Def'] = (pokemon['Attack'] - pokemon['Defense'])

t_stat, p_value = st.ttest_1samp(pokemon['Difference_Att_Def'], 0, alternative='greater')

print(f"Test Statistic (t): {t_stat}")
print(f"P-Value: {p_value:}")

Test Statistic (t): 4.325566393330478
P-Value: 8.570151739679279e-06

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [50]:
# Your code here:

pokemon['Is_water_type'] = pokemon['Type 1'] == 'Water'

cross_tab = pd.crosstab(pokemon['Legendary'],pokemon['Is_water_type'])
print(cross_tab)

Is_water_type  False  True
Legendary
False            627    108
True              61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [54]:
# Your code here:

from scipy.stats import chi2_contingency

chi2_stat, p_value, _, _ = chi2_contingency(cross_tab)
chi2_pvalue

Chi2ContingencyResult(statistic=np.float64(2.9429200762850503), pvalue=np.float64(0.0862546724955095), dof=1, expected_freq=array([[632.1, 102.9],
       [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [55]:
# Your answer here:

null_hypothesis = "There is no correlation between Legendary Pokemon and Water Type."
alt_hypothesis = "There is cocorrelation between Legendary Pokemon and Water Type."

if p_value > alpha:
    print("There's not enough evidence to reject the H0.")

if p_value < alpha:
    print("There enough evidence to reject the H0.")

print(null_hypothesis)

There's not enough evidence to reject the H0.
There is no correlation between Legendary Pokemon and Water Type.